@import "tailwindcss";


@theme{
  --color-txtorange:#e53d00;
  --color-txtbrown:#6d0000;
  --color-txtblue:#73aff3;
  --color-txtwhite:#ede9d0;
}

body{
  margin: 0;
 font-family:"Abel", sans-serif;
}