@import "tailwindcss";


@theme{
  --color-txtorange:#e53d00;
  --color-txtyellow:#ffe900;
  --color-txtgreen:#21a0a0;
  --color-txtgreendark:#046865;
}

body{
  margin: 0;
 font-family:"Abel", sans-serif;
}